/* FONTS */
.font--titleLogo {
    font-family: 'Shrikhand', sans-serif;
}

.font--text {
    font-family: 'Roboto', sans-serif;
}

/* COLORS */
.color--primary {
    color: #9356DC;
}

.color--secondary {
    color: #FF79DA;
}

.color--tertiary {
    color: #99E2D0;
}