$primaryColor: #9356dc;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;



* {
    font-family: 'Roboto';
}
body {
    margin: 0;
    background: #eeeeee;
}
.a--footer {
    text-decoration: none;
    color: white;
    &:visited {
        color: white;
    }
}
.bold {
    font-weight: bold;
}



/***** Header *****/
header {
    > a {
        margin-left: 1em;
        line-height: 3.1em;
        position: absolute;
        color: black;
        height: 3.1em;
        font-size: 1.5em;
    }
    > h1 {
        font-family: 'Shrikhand';
        margin: 0;
        font-size: 2.5em;
        font-weight: lighter;
        text-align: center;
        height: 2em;
        line-height: 2em;
        background: white;
    }
}



/***** Menu *****/
#menu {
    width: 100%;
    background: #eeeeee;
    .menuTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        margin-bottom: -1em;
        > h1 {
            font-family: 'Shrikhand';
            font-size: 2.2em;
        }
        &--heart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            .fa-heart {
                font-size: 2em;
                position: absolute;
                cursor: pointer;
            }
            .fullHeart {
                font-size: 2.15em;
                background: linear-gradient($primaryColor, $secondaryColor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                &:hover {
                    animation: fullHeart 500ms ease-in-out both;
                }
                &:not(:hover) {
                    animation: fullHeartReverse 500ms ease-in-out both;
                }
            }
        }
    }
    .menuCategory {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2em;
        &--title {
            > h2 {
                text-transform: uppercase;
                font-weight: normal;
            }
            &Underline {
                height: .2em;
                width: 5em;
                background: $thirdColor;
                margin-top: -.7em;
            }
        }
        &--cards {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;
            :nth-child(1) {
                animation-delay: 100ms;
            }
            :nth-child(2) {
                animation-delay: 250ms;
            }
            :nth-child(3) {
                animation-delay: 400ms;
            }
            :nth-child(4) {
                animation-delay: 550ms;
            }
            &Item {
                cursor: pointer;
                display: flex;
                max-width: 100%;
                max-height: 5em;
                background: white;
                border-radius: 1em;
                box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
                overflow: hidden;
                animation: appearance 1000ms ease-in-out backwards;
                &__description {
                    display: flex;
                    padding: 0 0 0 1.2em;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 35%;
                    width: 200%;
                    max-height: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    > p {
                        text-overflow: ellipsis;
                    }
                    > .title {
                        font-size: 1.3em;
                        margin-top: 2em;
                        margin-bottom: -.5em;
                    }
                    > .ingredients {
                        font-size: 1.1em;
                        margin-bottom: 2.5em;
                    }
                }
                &:hover > .menuCategory--cardsItem__description {
                    animation: titleWidth 500ms ease-in-out both;
                }
                &__price {
                    text-align: right;
                    width: 25%;
                    max-height: 100%;
                    transform: translateX(70%);
                    transition: transform 500ms ease-in-out;
                    > p {
                        font-size: 1.1em;
                        margin-right: 1.2em;
                        margin-top: 2.5em;
                    }
                }
                &:hover > .menuCategory--cardsItem__price {
                    transform: translateX(0);
                }
                &__validator {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    background: $thirdColor;
                    width: 20%;
                    transform: translateX(100%);
                    transition: transform 500ms ease-in-out;
                    > i {
                        color: white;
                        font-size: 2em;
                        transition: transform 500ms ease-in-out;
                    }
                }
                &:hover > .menuCategory--cardsItem__validator {
                    transform: translateX(0);
                }
                &:hover > .menuCategory--cardsItem__validator > i {
                    transform: rotate(360deg);
                }
            }
        }
    }
    .command {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        width: auto;
        .commandBtn {
            background: linear-gradient($secondaryColor, $primaryColor);
            background: linear-gradient($secondaryColor, $primaryColor);
            font-size: 1.3em;
            font-weight: bold;
            color: white;
            padding: 1em 4em;
            border-radius: 15em;
            border: none;
            box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
            cursor: pointer;
            align-self: center;
            margin-top: 1.5em;
            margin-bottom: 3em;
            text-decoration: none;
            transition: transform 300ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
@keyframes titleWidth {
    from {
        width: 200%;
    }
    to {
        width: 75%;
    }
}
@keyframes appearance {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fullHeart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fullHeartReverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



/***** Footer *****/
footer {
    background: #5a5a5a;
    padding: 1.5em;
    color: white;
    > img {
        width: 10em;
    }
    > .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
        > .footerContainer__category {
            display: flex;
            align-items: center;
            margin-top: -1em;
            > i {
                position: absolute;
            }
        }
        > .footerContainer__categoryWicon > p {
            margin-left: 2em;
        }
    }
}



@media (max-width: 1024px) {
#menu {
    position: absolute;
    top: 27em;
    border-radius: 3em 3em 0 0;
}
}



@media (min-width: 1024.5px) {
#menu {
    width: 45%;
    box-shadow: 5px 0px 8px -5px rgba(0,0,0,0.7);
}
}