$primaryColor: #9356dc;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;



* {
    font-family: 'Roboto';
}
body {
    margin: 0;
    background: #eeeeee;
}
.a--footer {
    text-decoration: none;
    color: white;
    &:visited {
        color: white;
    }
}
.bold {
    font-weight: bold;
}



/***** Header *****/
header {
    > a {
        margin-left: 1em;
        line-height: 3.1em;
        position: absolute;
        color: black;
        height: 3.1em;
        font-size: 1.5em;
    }
    > h1 {
        font-family: 'Shrikhand';
        margin: 0;
        font-size: 2.5em;
        font-weight: lighter;
        text-align: center;
        height: 2em;
        line-height: 2em;
        background: white;
    }
}



/***** Menu *****/
#menu {
    width: 100%;
    background: #eeeeee;
    .menuTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        margin-bottom: -1em;
        > h1 {
            font-family: 'Shrikhand';
            font-size: 2.2em;
        }
        &--heart {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            .fa-heart {
                font-size: 2em;
                position: absolute;
                cursor: pointer;
            }
            .fullHeart {
                font-size: 2.15em;
                background: linear-gradient($primaryColor, $secondaryColor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                &:hover {
                    animation: fullHeart 500ms ease-in-out both;
                }
                &:not(:hover) {
                    animation: fullHeartReverse 500ms ease-in-out both;
                }
            }
        }
    }
    .menuCategory {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2em;
        &--title {
            > h2 {
                text-transform: uppercase;
                font-weight: normal;
            }
            &Underline {
                height: .2em;
                width: 5em;
                background: $thirdColor;
                margin-top: -.7em;
            }
        }
        &--cards {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;
            .card1 {
                animation: appearance 1000ms 100ms ease-in-out backwards;
            }
            .card2 {
                animation: appearance 1000ms 250ms ease-in-out backwards;
            }
            .card3 {
                animation: appearance 1000ms 400ms ease-in-out backwards;
            }
            .card4 {
                animation: appearance 1000ms 550ms ease-in-out backwards;
            }
            .card {
                cursor: pointer;
                border-radius: .7em;
                margin-bottom: .8em;
                padding: 0 1em;
                font-size: 1.3em;
                display: flex;
                justify-content: space-between;
                height: 4em;
                background: white;
                box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
                overflow: hidden;
                .description {
                    align-self: center;
                    max-width: 90%;
                    overflow: hidden;
                    white-space: nowrap;
                    > h3 {
                        margin-bottom: -15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    > p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .price {
                    display: flex;
                    transition: transform 500ms linear;
                    margin-right: -1em;
                    margin-left: 1.2em;
                    > p {
                        align-self: flex-end;
                        margin-bottom: 10px;
                        margin-right: 1em;
                    }
                    .validator {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform-origin: right;
                        border-radius: 0 .7em .7em 0;
                        background: $thirdColor;
                        width: 0;
                        animation: validateurReverse 300ms 100ms linear backwards;
                        > i {
                            color: white;
                            font-size: 2em;
                            opacity: 0;
                            animation: validateurIconReverse 100ms 150ms linear backwards,
                            validateurRotateReverse 300ms linear backwards;
                        }
                    }
                }
            }
        }
    }
    .command {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        width: auto;
        .commandBtn {
            background: linear-gradient($secondaryColor, $primaryColor);
            background: linear-gradient($secondaryColor, $primaryColor);
            font-size: 1.3em;
            font-weight: bold;
            color: white;
            padding: 1em 4em;
            border-radius: 15em;
            border: none;
            box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
            cursor: pointer;
            align-self: center;
            margin-top: 1.5em;
            margin-bottom: 3em;
            text-decoration: none;
            transition: transform 300ms;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.card:hover > .price > .validator {
    animation: validateur 300ms linear both !important;
}
.card:hover > .price > .validator > i {
    animation: validateurIcon 100ms 100ms linear both,
    validateurRotate 300ms 100ms linear both !important;
}


@keyframes appearance {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fullHeart {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fullHeartReverse {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes validateur {
    from {width: 0;}
    to {width: 80px;}
}
@keyframes validateurReverse {
    from {width: 80px;}
    to {width: 0;}
}
@keyframes validateurIcon {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes validateurIconReverse {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes validateurRotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
@keyframes validateurRotateReverse {
    from {transform: rotate(360deg);}
    to {transform: rotate(0);}
}



/***** Footer *****/
footer {
    background: #5a5a5a;
    padding: 1.5em;
    color: white;
    > img {
        width: 10em;
    }
    > .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
        > .footerContainer__category {
            display: flex;
            align-items: center;
            margin-top: -1em;
            > i {
                position: absolute;
            }
        }
        > .footerContainer__categoryWicon > p {
            margin-left: 2em;
        }
    }
}



@media (max-width: 1024px) {
#menu {
    position: absolute;
    top: 27em;
    border-radius: 3em 3em 0 0;
}
}



@media (min-width: 1024.5px) {
#menu {
    width: 45%;
    box-shadow: 5px 0px 8px -5px rgba(0,0,0,0.7);
}
}