/***** Photo *****/
#photo {
    width: auto;
    height: 25em;
    background: url(../Images/Restaurants/deliceSens.jpg);
    background-position: center;
    background-size: cover;
  }



/***** Menu *****/
#menu {
    height: 95em;
}
.menuCategory {
    height: 23em;
}



/***** Footer *****/
footer {
    margin-top: 95em;
}