$primaryColor: #9356dc;
$secondaryColor: #FF79DA;
$thirdColor: green;

$animDuration--loading: 1ms;
$animDelay--loading: 150ms;

$circleSpinnerSize: 35vh;
$borderSpinnerSize: 1.2em;

$titleFontSize: 2.5em;


* {
    font-family: 'Roboto';
}
body {
    margin: 0;
    
    background: white;
    animation: backgroundBody 1ms $animDuration--loading+$animDelay--loading both;
}
.fullPage {
    animation: fullPage 1ms $animDuration--loading+$animDelay--loading backwards;
}



/***** Loading Screen *****/
.loadingScreen { /* Full Loading Screen */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: loadingScreen 1ms $animDuration--loading+$animDelay--loading both;
    > img { /* Logo */
        width: $circleSpinnerSize;
    }
    &__spinner { /* Circle Spinner */
        position: absolute;
        width: $circleSpinnerSize;
        height: $circleSpinnerSize;
        padding: 2em;
        border: solid $borderSpinnerSize white;
        border-top: solid $borderSpinnerSize lighten($secondaryColor, 10%);
        border-radius: 100%;
        animation: spinner $animDuration--loading/3 $animDelay--loading infinite both;
    }
}
@keyframes spinner { /* Circle Spinner */
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes loadingScreen { /* Loading Screen Disappearance */
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}
@keyframes backgroundBody {
    0% {
        background: linear-gradient($primaryColor, $secondaryColor);
    }
    100% {
        background: white;
    }
}
@keyframes fullPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/***** Header *****/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}



/***** Location *****/
#location {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6e6e6;
    box-shadow: inset 0px 5px 8px -5px rgba(0,0,0,0.5);
    > i {
        margin-right: .7em;
    }
}



/***** blocExplore *****/
#explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25em;
    padding: 0 2em;
    background: lighten(#e6e6e6, 5%);
    > h1 {
        font-weight: bold;
        text-align: center;
        font-size: $titleFontSize;
    }
    > p {
        text-align: center;
        font-size: 1.3em;
        margin-top: -.8em;
    }
    > .explore__btn {
        background: linear-gradient($secondaryColor, $primaryColor);
        font-size: 1.3em;
        font-weight: bold;
        color: white;
        padding: 1em 2em;
        border-radius: 15em;
        border: none;
        box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
        cursor: pointer;
        margin-top: 1.5em;
        margin-bottom: 3em;
        transition: transform 300ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}



/***** Nav *****/
nav {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    margin-bottom: 3em;
    > h1 {
        font-size: $titleFontSize;
        font-weight: bold;
    }
    > .navContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 18em;
        > .navContainer__elm {
            display: flex;
            cursor: pointer;
            align-items: center;
            height: 5em;
            > .navContainer__elmNb {
                background: $primaryColor;
                position: absolute;
                color: white;
                width: .5em;
                height: .5em;
                padding: .7em;
                text-align: center;
                line-height: .5em;
                border-radius: 100%;
            }
            .navContainer__elmTxt {
                display: flex;
                margin-left: 1em;
                align-items: center;
                padding: 0 0 0 2.5em;
                border-radius: 1em;
                box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
                width: 100%;
                height: 100%;
                transition: all 300ms ease-in-out;
                &:hover {
                    background-color: lighten($primaryColor, 30%);
                }
                &:hover > .navContainer__icon {
                    color: $primaryColor;
                }
                .navContainer__icon {
                    margin-right: 2em;
                    font-size: 1.3em;
                    color: #979797;
                }
                > p {
                    font-size: 1.2em;
                    font-weight: 600;
                }
            }
        }
    }
}



/***** Restaurants *****/
#restaurants {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
    margin-bottom: 3em;
    height: 110em;
    > h1 {
        font-size: $titleFontSize;
        font-weight: bold;
    }
    > .restaurantsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
        > .restaurantsContainer__card {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 23em;
            box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.7);
            border-radius: 2em;
            > .cardPhoto1 {
                background: url(../Images/Restaurants/paletteGout.jpg);
            }
            > .cardPhoto2 {
                background: url(../Images/Restaurants/noteEnchantee.jpg);
            }
            > .cardPhoto3 {
                background: url(../Images/Restaurants/laFrancaise.jpg);
            }
            > .cardPhoto4 {
                background: url(../Images/Restaurants/deliceSens.jpg);
            }
            > .restaurantsContainer__cardPhoto {
                height: 70%;
                border-radius: 2em 2em 0 0;
                background-position: center;
                background-size: cover;
            }
            > .restaurantsContainer__cardBottom {
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1.5em;
                .restaurantsContainer__cardBottom--title > h2 {
                    margin-bottom: -.7em;
                }
                .restaurantsContainer__cardBottom--title > p {
                    font-size: 1.2em;
                }
            }
            .restaurantsContainer__cardBottom--heart {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.2em;
                .fa-heart {
                    font-size: 2em;
                    position: absolute;
                    cursor: pointer;
                }
                .fullHeart {
                    background: linear-gradient($primaryColor, $secondaryColor);
                    -webkit-background-clip: text;
	                -webkit-text-fill-color: transparent;
                    opacity: 0;
                    &:hover {
                        animation: fullHeart 300ms ease-in-out both;
                    }
                    &:hover + .emptyHeart {
                        animation: emptyHeart 300ms ease-in-out both;
                    }
                }
                .emptyHeart {
                    opacity: 1;
                }
            }
        }
    }
}
@keyframes fullHeart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes emptyHeart {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}