/***** Photo *****/
#photo {
    width: auto;
    height: 25em;
    background: url(../Images/Restaurants/noteEnchantee.jpg);
    background-position: center;
    background-size: cover;
  }



/***** Menu *****/
#menu {
    height: 101em;
}
.menuCategory {
    height: 23em;
}
.menuCategory1 {
    height: 29em;
}



/***** Footer *****/
footer {
    margin-top: 101em;
}